{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block form_id %}create_profile_form{% endblock %}
{% block form_action %}{% url 'horizon:autoscaling:profiles:create' %}{% endblock %}
{% block form_attrs %}enctype="multipart/form-data"{% endblock %}

{% block modal-body-right %}
  <h3>{% trans "Description:" %}</h3>
  <p>{% trans "A profile encodes the information needed for node creation." %}</p>
  <a target="_blank" href="https://github.com/openstack/senlin/tree/master/examples/profiles">
    {% trans "Profile Spec Examples" %}
  </a>
{% endblock %}
