<div ng-controller="CreateProfileVolumesController as ctrl">
  <div ng-show="model.allowedBootSources.length > 0">
  <p class="step-description" translate>
    Instance source is the template used to create an instance.
    You can use an image, a snapshot of an instance (image snapshot),
    a volume or a volume snapshot (if enabled).
    You can also choose to use persistent storage by creating a new volume.
  </p>

  <div class="row">
    <div class="col-xs-6">
      <div class="form-group" ng-class="{ 'has-error': createProfileVolumesForm.boot-source-type.$invalid }">
        <label for="boot-source-type" class="control-label" translate>Select Volume Type</label>
        <select name="boot-source-type" class="form-control" id="boot-source-type"
                ng-options="volumeType.name for volumeType in model.allowedVolumeTypes| orderBy:'name' track by volumeType.name"
                ng-model="vol_data_type">
        </select>
        <span ng-bind="volumeTypeError"> </span>
      </div>
    </div>
    <div class="col-xs-6">
      <div ng-if="model.newProfileSpec.vol_create == true">
        <div class="form-group"
             ng-class="{ 'has-error': createProfileVolumesForm['volume-size'].$invalid }">
          <label for="volume-size" class="control-label">
            <translate>Volume Size (GB)</translate>
            <span class="hz-icon-required fa fa-asterisk"></span>
          </label>
          <input name="volume-size"
                 validate-number-min="20"
                 id="volume-size"
                 type="number"
                 class="form-control"
                 ng-model="model.newProfileSpec.vol_data_size"
                 ng-pattern="/^[0-9]+$/">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <div ng-if="model.newProfileSpec.vol_create == true">
        <div class="form-group">
          <label translate class="control-label">Delete Volume on Instance Delete?</label><br/>
          <div class="btn-group">
            <label class="btn btn-default"
                   ng-repeat="option in ctrl.toggleButtonOptions"
                   ng-model="model.newProfileSpec.vol_data_delete_on_instance_delete"
                   uib-btn-radio="option.value">{$ ::option.label $}</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <label for="vol-create" translate>Add New Volume?</label><br/>
        <div class="btn-group">
          <label class="btn btn-default"
                 ng-click="ctrl.addVolumeDataDisk({
                  'volume_type': vol_data_type.name,
                  'volume_size': model.newProfileSpec.vol_data_size,
                  'source_type': 'blank',
                  'destination_type': 'volume',
                  'delete_on_termination': model.newProfileSpec.vol_data_delete_on_instance_delete
                })">Add</label>
        </div>
      </div>
    </div>
  </div>

<hr/>
  <div class="row">
    <div ng-if="model.newProfileSpec.dataDisks.length > 0">
    <label translate>List Volume Data Disks:</label>
      <table class="table table-striped">
        <tr>
          <th>Volume Type</th>
          <th>Volume Size</th>
          <th>Delete Volume on Instance Delete</th>
        </tr>
        <tr ng-repeat="dataDisk in model.newProfileSpec.dataDisks">
          <td ng-bind="dataDisk.volume_type"></td>
          <td ng-bind="dataDisk.volume_size"></td>
          <td ng-bind="dataDisk.delete_on_termination"></td>
          <td span ng-click="ctrl.removeItem($index)">Delete</td>
        </tr>
      </table>
    </div>
  </div>

  </div>
  <div ng-if="model.allowedBootSources.length === 0">
    <div translate class="subtitle text-danger">There are no allowed boot
      sources. If you think this is wrong please contact your administrator.
    </div>
  </div>
</div>
